body{
    background-color: $lightgray;
}

.dt-bootstrap4 .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin {
 margin-left: 0 !important;
 margin-right: 0 !important;
}

.top-bar {
    width: 100%;
    text-align: right;
    background: $darkblue;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.sidebar{
  top: 0;
  background-color: $darkblue;
  width: 280px;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: 0.25s all ease-in-out;
  z-index: 97;

  nav {
      flex-direction: column;
  }

  ul{
      padding: 5px 50px;
      list-style: none;
      flex-direction: column;

      li {
          list-style: none;
          display: block;
          margin: 5px 0;

        a {
            color: $lightfont;
            font-family: $montserrat;
            font-size: 1.2rem;
            font-weight: 100;

            i {
                font-size: 1.2rem;
                margin-right: 10px;
                width: 35px;
                text-align: center;
            }

            span {
                position: absolute;
                white-space: nowrap;
            }
        }
      }
  }
}

.bottom-item{
    position: absolute;
    bottom: 25px;
}

#openMenu{
    color: #fff;
}

.flex-auto{
    flex:auto;
}

.page-wrap {
    width: 80%;
    margin: auto;
}

.dataInfo {
    background-color: #fff;
    padding: 40px;
}

.content-page {
    width: calc(100%);
    position: relative;
    transition: 0.25s all ease-in-out;
}

.content-page.translated{
    transform: translateX(280px);
    position: relative;
    background-color: $lightgray;
}

.defaultForm {
    width: 80%;
    padding: 40px;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 25px auto;
}

.hiddenFormWrapper {
    display: none;
}

.success-message {
    display: none;
}

.services-container{
    h3 {
        display: none;
    }
    ul {
        justify-content: space-between;
        padding: 0;
        flex-wrap: wrap;

        li {
            margin: 0 15px;
            flex-basis: 40%;
            align-self: center;
        }
    }

}

.typeahead__container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.results td {
    vertical-align: middle !important;
    text-align: center;

    p {
        margin: 10px 0;
    }
}

ul.typeahead__list {
    margin-top: -40px;
}

span.typeahead__cancel-button {
    margin-top: 20px;
}

.btn-wrap {
    margin: 15px 0;
}

.dataTables_wrapper {
    width: 100%;
}

.icon-btn{
    margin-right:15px;
}

.endDateWrap{
 display: none;
}

.infoText {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1;
}

span.reqStar {
    color: red;
}

input.error, select.error {
    border-color: #e3342f52 !important;
    box-shadow: 0 0 0 0.2rem #e3342f52 !important;
}

.sidebar.collapsed {
    width: 55px;

    ul {
        padding: 5px 10px;

        li {
            width: 100%;
            margin: 5px auto;
            text-align: center;
            a {
                span {
                    display: none;
                }

                i {
                    font-size: 1.2rem;
                    margin-right: 0px;
                }
            }
        }
    }
}

.quoteSelector {
    width: 100%;
    max-width: 400px;

    li {
        width: 50%;
        text-align: center;

        a {
            padding: 5px;
            display: block;
            background: #ececec;
            margin: 5px;
            border-radius: 5px;
            color: #000;
            font-weight: 700;
        }
    }
}

.quoteSelector a.active{
    background: #3490dc;
    color: #fff;
}

.tab-content {
    margin-top: 15px;
}

.specialServices .form-check {
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.specialServices .form-check-label {
    font-weight: 900;
}

.extraServicePriceLabel{
    margin-top: 15px;
    margin-bottom: 0;
}

.extraServicePrice {
    max-width: 120px;
}

.card-columns {
    width: 100%;
    column-count: 4 !important;
}

.clock-bg {
    background: rgb(39,34,195);
    background: linear-gradient(140deg, rgba(39,34,195,1) 0%, rgba(0,0,65,1) 100%);
}

div#clockdiv {
    text-align: center;
    color: #ccc;
    margin: auto;
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 50%;
}

div#clockdiv:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

div#clockdiv .clock-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 100;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

.clock-wrap > div {
    display: inline-block;
}

.smalltext {
    font-size: 1rem;
    font-weight: 100;
}

.card-body canvas {
    min-height: 400px !important;
}

.slideInForm {
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 25px auto;
    position: fixed;
    z-index: 99;
    top: 0;
    margin: 0;
    width: 100% !important;
    left: auto;
    right: 0;
    height: 100%;
    border-radius: 0;
    transition: 0.25s all ease-in-out;
    transform: translateX(300%);
    overflow: auto;
}

.slideInForm.visible{
    transform: translateX(0);
}

.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
}

@media (max-width: 767.98px){
    .page-wrap {
        width: 100%;
    }

    .content-page {
        width: calc(100% - 75px);
        left: 65px;
    }

    .defaultForm {
        width: 95%;
        padding: 10px;
    }

    .mb1r{
        margin-bottom: 1rem;
    }

    .tableWrapper h3 {
        font-size: 1.2rem;
    }

    .fc-button {
        padding: .1em .1em !important;
        font-size: 0.8em !important;
    }

    .fc-toolbar h2 {
        font-size: 1rem !important;
        margin: 0;
    }

    	/* Force table to not be like tables anymore */
	.table-responsive table,
	.table-responsive thead,
	.table-responsive tbody,
	.table-responsive th,
	.table-responsive td,
	.table-responsive tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table-responsive thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-responsive tr { border: 1px solid #ccc; }

	.table-responsive td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50% !important;
		white-space: normal;
		text-align:left;
	}

    .table-responsive td:first-child{
        padding-left: 0 !important;
        text-align: center;
    }

    .table-responsive td:first-child:after {
        position: absolute;
        right: 15px;
        content: '\25BC';
        color:$darkblue;
    }

	.table-responsive td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 50%;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
        font-weight: bold;
        margin-top: -10px;
	}

	/*
	Label the data
	*/
    .table-responsive td:before { content: attr(data-title); }

    .data-row td:not(:first-child) {
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        line-height: 0;
        border: 0;
        transition: 0.2s all ease-in-out;
        opacity: 0;
    }

    .data-row.visible-info td:not(:first-child) {
        height: auto;
        overflow: auto;
        padding: 8px 10px;
        margin: 0;
        line-height: 1.4;
        border: 1px solid #eee;
        opacity: 1;
    }

    .data-row.visible-info td:first-child::after {
        content: '\25B2';
    }
}

@media (max-width: 576px) {
    .card-columns {
        column-count: 1 !important;
    }
}

@media (max-width: 768px) {
    .card-columns {
        column-count: 1 !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card-columns {
        column-count: 2 !important;
    }

}

@media (min-width:993px) and (max-width: 1200px) {
    .card-columns {
        column-count: 2 !important;
    }

    .page-wrap {
        width: calc(100% - 90px);
        margin-left: 60px;
    }
}

@media (min-width:1201px) and (max-width: 1400px) {
    .card-columns {
        column-count: 3 !important;
    }

    div#clockdiv .clock-wrap {
        font-size: 2rem;
    }
}

